table th {
        background-color: #ff9872;
        padding: 10px 20px;
    }
 
    table td {
        background-color: #ffdbc9;
        padding: 10px 20px;
    }
 
    .notice {
        background-color: #ff6928;
        padding: 5px;
    }